<div id="review_<%= post.id %>"></div>
<script>
  $(document).on('turbolinks:load', function(){
    let elem = document.querySelector('#review_<%= post.id %>');
    if (elem == null) return;
    
    elem.innerHTML = "";
    let opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: "<%= post.review %>",
      reloadOnly: true,
    };
    raty(elem, opt);
  });
</script>