<div class="container">
  <h3>投稿一覧</h3>
  <div class ="row mx-auto">

    <div class="sidebar col-3">
      <h4 class="m-3">
        <%= link_to new_post_path, class: "text-dark" do %>
          <i class="fa-solid fa-circle-plus"></i>NewPost!
        <% end %>
      </h4>
      <%= render 'public/tags/sidetag', tags: @tags %>
    </div>

    <div class="col-9">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-4">
            <div class="card shadow-lg my-2">
              <%= link_to post_path(post.id) do %>
                <div class="card-body">
                  <%= image_tag post.get_image, size: "250x200", class: "card-img-top", style: "object-fit: cover;" %>
                  <p class="card-title text-dark"><%= post.name %></p>
                  <p class="card-text text-dark">
                    <i class="fa-solid fa-shop"></i><%= post.shop_name %>
                  </p>
                  <p class="d-flex justify-content-end">
                    <span class="text-dark"><i class="fa-solid fa-comment"></i><%= post.comments.count %></span>
                    <span class="text-dark">
                      <i class= "fa-solid fa-heart" aria-hidden = "true", style = "color: red;"></i><%= post.favorites.count %>
                    </span>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= paginate @posts %>
      </div>
    </div>

  </div>
</div>