<div class="container">
  <div class="row">
    <h3>投稿詳細</h3>
  </div>

    <div class="row ps-3">
        <%= image_tag @post.get_image, size: "500x350", class: "post-image", style: "object-fit: cover;" %>
    <div class="col-8 p-3">
      <table class="table table-borderless">
        <tr>
          <td>商品名（タイトル）：<%= @post.name %></td>
        </tr>
        <tr>
          <td>店舗名：<%= @post.shop_name %></td>
        </tr>
        <tr>
          <td>場所：<%= @post.place %></td>
        </tr>
          <td>オススメ度<%= render 'startic', post: @post %></td>
        </tr>
        <tr>
          <td>感想・レビュー：<%= @post.body %></td>
        </tr>
        <tr>
          <td>タグ：</td>
          <td>
            <% @post_tags.each do |tag| %>
              <%= link_to tag_path(tag_id: tag.id) do %>
                <i class="fa-solid fa-tag"></i><%= tag.name %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to user_path(@post.user_id) do %>
              <%= image_tag @post.user.get_profile_image(50, 50), class: "rounded-circle" %>
              <%= @post.user.nickname %>
            <% end %>
          </td>
        </tr>
      </table>
      <% if user_signed_in? %>
        <div id="post_<%= @post.id %>">
          <ul class="navbar", style="list-style: none;">
            <% if @post.user == current_user %>
              <li><%= link_to "編集する", edit_post_path, class: "btn btn-success" %></li>
              <li><%= link_to "削除する", @post, mothod: :delete, data: { confirm: '本当に削除しますか？'}, class: "btn btn-danger" %></li>
            <% end %>
            <li class="favorite-love"><%= render 'public/favorites/love', post: @post %></li>
            <li class="bookmark-save"><%= render 'public/bookmarks/save', post: @post %></li>
          </ul>
        </div>
        <div class="comment-index">
          <%= render 'public/comments/index', post: @post %>
        </div>
        <%= render 'public/comments/form', post: @post, comment: @comment %>
      <% end %>
    </div>

    <div class="sidebar col-4">
      <%#= render '検索バー' %>
      <%= render 'public/tags/sidetag', tags: @tags %>
    </div>

  </div>
</div>