<div class="container">
  <div class="row my-3">
    <h3>投稿詳細</h3>
  </div>

    <div class="row">

      <div class="sidebar col-4">
        <%= render 'public/searches/form' %>
        <h4 class="m-3">
          <%= link_to new_post_path, class: "text-dark" do %>
            <i class="fa-solid fa-circle-plus"></i>NewPost!
          <% end %>
        </h4>
        <%= render 'public/tags/sidetag', tags: @tags %>
      </div>

    <div class="col-7 p-3">
      <%= image_tag @post.get_image, size: "500x400", class: "post-image", style: "object-fit: cover;" %>
      <table class="table table-borderless">
        <tr>
          <td>商品名（タイトル）：<%= @post.name %></td>
        </tr>
        <tr>
          <td>店舗名：<%= @post.shop_name %></td>
        </tr>
        <tr>
          <td>場所：<%= @post.place %></td>
        </tr>
          <td>オススメ度<%= render 'startic', post: @post %></td>
        </tr>
        <tr>
          <td>感想・レビュー：<%= @post.body %></td>
        </tr>
        <tr>
          <td>タグ：
            <% @post_tags.each do |tag| %>
              <%= link_to tag_path(tag_id: tag.id), class: "text-dark" do %>
                <i class="fa-solid fa-tag"></i><%= tag.name %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to user_path(@post.user_id), class: "text-dark" do %>
              <%= image_tag @post.user.get_profile_image(50, 50), class: "rounded-circle" %>
              <%= @post.user.nickname %>
            <% end %>
          </td>
        </tr>
      </table>
      <% if user_signed_in? %>
        <div id="post_<%= @post.id %>", class="mx-3">
          <div class="d-flex justify-content-end mx-3">
            <span class="mx-3">
              <p class="favorite-love"><%= render 'public/favorites/love', post: @post %></p>
            </span>
            <span class="mx-3">
              <p class="bookmark-save"><%= render 'public/bookmarks/save', post: @post %></p>
            </span>
            <% if @post.user == current_user %>
              <p class="ml-5"><%= link_to "編集する", edit_post_path, class: "btn btn-success btn-sm" %></p>
              <p class="mx-3"><%= link_to "削除する", @post, mothod: :delete, data: { confirm: '本当に削除しますか？'}, class: "btn btn-danger btn-sm" %></p>
            <% end %>
          </div>
          </div>
        <div class="my-2">
          <div class="comment-index">
            <%= render 'public/comments/index', post: @post %>
          </div>
          <%= render 'public/comments/form', post: @post, comment: @comment %>
        </div>
      <% end %>
    </div>

  </div>
</div>