<table>
  <tbody>
    <% post.comments.each do |comment| %>
      <tr>
        <td>
          <%= link_to user_path(comment.user) do %>
            <%= image_tag comment.user.get_profile_image, size: "90x90" %>
            <%= comment.user.nickname %>
          <% end %>
        </td>
        <td><%= comment.post_comment %></td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to "削除", post_comment_path(post, comment), method: :delete, class: "btn btn-danger", remote: true %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>