<table class="m-3">
  <tbody>
    <% post.comments.each do |comment| %>
      <tr class="m-3">
        <td>
          <%= link_to user_path(comment.user) do %>
            <%= image_tag comment.user.get_profile_image(20, 20), class: "rounded-circle" %>
            <%= comment.user.nickname %>
          <% end %>
        </td>
        <td class="px-auto"><%= comment.post_comment %></td>
        <td><i class="fa-regular fa-clock"></i><%= comment.created_at.strftime('%m/%d %H:%M') %></td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to "削除", post_comment_path(post, comment), method: :delete, data: { confirm: '本当に削除しますか？'}, class: "btn btn-danger btn-sm", remote: true %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>