<div class="container">
  <h3>投稿一覧</h3>
  <div class="row my-3">

    <div class="col-8 mx-auto">
      <table class="table table-hover">
        <thread>
          <tr class="table-primary">
            <th>投稿日時</th>
            <th>投稿者</th>
            <th></th>
            <th>商品名（タイトル）</th>
          </tr>
        </thread>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <%= link_to admin_post_path(post.id) do %>
                  <%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                <% end %>
              </td>
              <td><%= post.user.last_name + post.user.first_name %></td>
              <td><%= image_tag post.image, size: "100x70", style: "object-fit: cover;" %></td>
              <td><%= post.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%=paginate @posts %>
    </div>
  </div>
</div>

