<div class="container">
  <div class="row">
    <% tag.each do |post| %>
      <div class="card shadow-lg m-2">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.get_image, size: "250x200", class: "card-img-top", style: "object-fit: cover;" %>
          <div class="card-body">
            <div class="col-8">
              <h6 class="card-title"><%= post.name %></h6>
              <p class="card-text">
                <i class="fa-solid fa-shop"></i><%= post.shop_name %><br />
                <%= post.body %>
              </p>
              <p class="d-flex justify-content-end">
                <span><i class="fa-solid fa-comment"></i><%= post.comments.count %></span>
                <span class="text-left">
                  <i class= "fa-solid fa-heart" aria-hidden = "true", style = "color: red;"></i><%= post.favorites.count %>
                </span>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>