<div class="container">
  <div class ="row">
    <h3>ブックマークした投稿一覧</h3>

    <% if @bookmarks.length != 0 %>

      <div class="card shadow">
        <div class="card-body">
          <div class="col-8">
            <% @bookmarks.each do |bookmark| %>
              <%= link_to post_path(bookmark.post) do %>
                <%= image_tag bookmark.post.get_image, size: "250x200", class: "card-img-top", style: "object-fit: cover;" %>
                <h6 class="card-title"><%= bookmark.post.name %></h6>
                <p class="card-text">
                  <i class="fa-solid fa-shop"></i><%= bookmark.post.shop_name %><br />
                  <%= bookmark.post.body %>
                </p>
                <p><i class="fa-solid fa-comment"></i><%= bookmark.post.comments.count %></p>
                <span class="text-left">
                  <i class= "fa-solid fa-heart" aria-hidden = "true", style = "color: red;"></i><%= bookmark.post.favorites.count %>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    <% else %>

      <div class="col-8 text-center">
        ブックマークした投稿はまだありません。
      </div>

    <% end %>
  </div>
</div>