<div class="container">
  <div class="row">
    <h3>マイページ</h3>
    <div class="col-5">
      <h4>登録情報</h4>
      <%= link_to "編集する", users_information_edit_path, class: "btn btn-primary" %>
      <div>
        <p><%= image_tag @user.get_profile_image(50, 50), class: "rounded-circle" %></p>
        <table class="table table-borderless">
          <tr>
            <td>名前</td>
            <td><%= @user.full_name %></td>
          </tr>

          <tr>
            <td>名前（カナ）</td>
            <td><%= @user.full_name_kana %></td>
          </tr>

          <tr>
            <td>ハンドルネーム</td>
            <td><%= @user.nickname %></td>
          </tr>

          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="co-4">
      <h4><i class="fa-regular fa-user"></i>投稿マイページ</h4>
      <%#= link_to "一覧マイページを見る",_path, class: "btn btn-primary" %>
    </div>
    <div class="col-4">
      <h4><i class="fa-solid fa-bookmark"></i>ブックマーク</h4>
      <%#= link_to "一覧を見る", post_bookmarks_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>