<div class="container">

  <div class="row">
    <h3><%= @user.nickname %>さんの投稿ページ</h3>
    <div class="col-5">
      <table class="table">
        <tr>
          <th><%= image_tag @user.get_profile_image(200, 200), class: "rounded-circle" %></th>
          <th><%= @user.nickname %></th>
          <th>
            <% if @user == current_user %>
              <%= link_to "登録情報へ", users_mypage_path %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>フォロー数：<%= link_to @user.followings.count, user_followings_path(@user) %></th>
          <th>フォロワー数：<%= link_to @user.followers.count, user_followers_path(@user) %></th>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="card shadow-lg">
      <div class="card-body">
        <div class="col-8">
          <% @user.posts.each do |post| %>
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.get_image, size: "200x150", class: "card-img-top", style: "object-fit: cover;" %>
              <h6 class="card-title"><%= post.name %></h6>
              <p class="card-text">
                <i class="fa-solid fa-shop"></i><%= post.shop_name %><br />
                <%= post.body %>
              </p>
              <span class="text-left">
                <i class= "fa-solid fa-heart" aria-hidden = "true", style = "color: red;"></i><%= post.favorites.count %>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
